body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    padding:85px 0;
}
.div1{
    width: 600px;
    height: 100px;
    border-radius: 10px;
    background-color: white;
    
}
h1{
    text-align: center;
    font-size: 50px;
    margin: 15px 0px 50px 0px;
}
.div2{
    padding-top: 50px;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-between;

}
input{
    width: 120px;
    height: 25px;
margin-top: 35px;
}
.p1{
margin-left: 120px;
margin-top: 33px;
font-size: 22px;
}
.p2{
    width: 120px;
    font-size: 22px;
    margin-top: 32px;
    text-align: center;
}
.btn{
height: 30px;
width: 100px;
margin-top: 34px;
margin-right: 100px;
}

.div3{
    margin: -300px 110px;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: aquamarine;
}

.p3{
    padding-top: 10px;
    font-size: 22px;
    text-align: center;
    word-wrap:break-word;
}